
.square {
  background-color: #b58863;
  width: 74px;
  height: 74px;
}

.square-sm {
  width: 68px;
  height: 68px;
}

.dad-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.files:nth-of-type(even) .square:nth-of-type(even) {
  background-color: #f0d9b5;
}
.files:nth-of-type(odd) .square:nth-of-type(odd) {
  background-color: #f0d9b5;
}

.img-cb {
  width: 94%;
  height: 94%;
}
