.container {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  background: #161512 linear-gradient(to bottom, hsl(37, 12%, 16%), hsl(37, 10%, 8%) 116px) no-repeat;
}

.name {
  font-size: 30px;
  color: white;
}
.sidebar {
  width: 14%;
  border-style: none solid none none;
  border-width: thin;
  background-color: #262421;
}

.contain {
  display: flex;
  width: -webkit-fill-available;
}

.chessboard {
  width: 56%;
  height: 100%;
}

.nav {
  width: 44%;
  background-color: #312e2b;
}

.right-bar {
  margin-left: 14vh;
}
