
.header {
  color: white;
  text-align: center;
  font-family: Tiro Devanagari Marathi;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 25% 50px 0px 20px
}
.options{
  width: 78%;
  margin-left: 9%;
}
.opt {
  display: flex;
  background-color: #d9d9d9;
  margin: 30px 30px 0px 10px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

.opt:hover {
  cursor: pointer;
}
.opt#opt1{
  background-color: #81b64c;
  box-shadow: 0px 7px 1px #5d9948;
}
.opt#opt2{
  background-color: #4b4847;
  box-shadow: 0px 7px 1px #666564;
}
h1 {
  color: white;
  font-family: Tiro Devanagari Marathi;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
}

.text {
  color: white;
  font-family: Tiro Devanagari Marathi;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
}

.img-lg-nav {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

.containPlay {
  width: 100%;
}

.textPlay {
  font-size: 26px;
  padding-bottom: 10px;
  font-weight: 100;
  color: white;
}