.head {
  display: flex;
  align-items: center;
  margin-top: 3%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.img-lg {
  width: fit-content;
  height: 40px;
}

.brand {
  width: 40%;
  height: 30%;
  margin-right: -8%;
}

.titleChess {
  color: white;
  font-family: Tiro Devanagari Marathi;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button {
  padding: 5px 20px;
  font-size: 26px;
  width: 100%;
  border-radius: 10px;

}
.btn{
  margin: 20px;
}
.btn #btn1{
  background-color: #4b4847;
  color: white;
}
.btn #btn2{
  background-color: #81b64c;
  color: white;
}
#search{
  background-color: #666564;
  color: white;
}
#search::placeholder {
  color: white;
}


button:hover {
  cursor: pointer;
  background-color: #f0f0f04f;
}

.items {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px 10px 12px 10px;
}

.items:hover {
  cursor: pointer;
  background-color: #595856;
  border-radius: 10px;
}

.text {
  font-size: 26px;
  padding-left: 13px;
  font-weight: 100;
}

input {
  font-size: 26px;
  width: -webkit-fill-available;
  text-align: center;
  border-style: none none solid none;
}

.search {
  padding: 20px;
}
