<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/CSS/ChangePassword.css">
</head>
<body>
    <form class="ChangePassword" action="/public/change-password" name="ChangePassword" method="post">
        <table>
            <tr>
                <div class="error" id="error_message"></div>
            </tr>
            <tr>
                <td><label>New Password</label></td>
                <td><input type="password" name="txtNewpass" id="txtNewpass"></td>
            </tr>
            <tr>
                <td><label>Retype New Password</label></td>
                <td><input type="password" name="txtConfirmpass" id="txtConfirmpass"></td>
            </tr>
        </table>
       <div class="button-group">
           <input type="submit" value="Save" name="btnSavepass" id="btnSavepass">
           <input type="submit" value="Back" name="btnBack" id="btnBack">
       </div>
    </form>
    <script defer th:src="@{/javascript/fragments/changepass.js}"></script>
</body>
</html>