<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/CSS/ChangePassword.css">
</head>
<body>
    <form class="ChangePassword" action="" name="ChangePassword" method="">
        <table>
            <tr>
                <div class="error" id="error_message"></div>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input type="password" name="txtPass" id="txtPass"></td>
            </tr>
            <tr>
                <td><label>New Password</label></td>
                <td><input type="password" name="txtNewpass" id="txtNewpass"></td>
            </tr>
            <tr>
                <td><label>Retype New Password</label></td>
                <td><input type="password" name="txtConfirmpass" id="txtConfirmpass"></td>
            </tr>
        </table>
        <input type="submit" value="Save" name="btnSave" id="btnSave">
    </form>
</body>
</html>