<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Tutorial</title>
    <link rel="stylesheet" href="/CSS/reset.css">
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link rel="stylesheet" href="/CSS/chessboard.css">
    <link rel="stylesheet" href="/CSS/nav.css">
    <link rel="stylesheet" href="/CSS/timeSelector.css">
</head>

<body>
    <div class="container">
         <div class="sidebar" th:insert="~{/fragments/sidebar.html}">
<!--            <ul>-->
<!--                <div class="head">-->
<!--                    <img class="brand" th:src="@{/IMAGE/icons8-chess-80_1.png}">-->
<!--                    <p class="titleChess">Chess</p>-->
<!--                </div>-->
<!--                <li class="items"><img class="img-lg" th:src="@{/IMAGE/playwhite.cea685ba.svg}" alt="">-->
<!--                    <p class="text">Play</p>-->
<!--                </li>-->
<!--                <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-puzzle-50_1.png}" alt="">-->
<!--                    <p class="text">Puzzles</p>-->
<!--                </li>-->
<!--                <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-students-64_1.png}" alt="">-->
<!--                    <p class="text">Learn</p>-->
<!--                </li>-->
<!--                <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-news-64_1.png}" alt="">-->
<!--                    <p class="text">News</p>-->
<!--                </li>-->
<!--                <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-binoculars-64_1.png}" alt="">-->
<!--                    <p class="text">Watch</p>-->
<!--                </li>-->
<!--                <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-ellipsis-50_1.png}" alt="">-->
<!--                    <p class="text">More</p>-->
<!--                </li>-->
<!--                <li class="search">-->
<!--                    <input type="text" placeholder="Search">-->
<!--                </li>-->
<!--                <li class="btn">-->
<!--                    <button id="">Sign up</button>-->
<!--                </li>-->
<!--                <li class="btn">-->
<!--                    <button>Login</button>-->
<!--                </li>-->
<!--&lt;!&ndash;                <li class="items">&ndash;&gt;-->
<!--&lt;!&ndash;                    <img class="img-lg" th:src="@{/IMAGE/icons8-language-skill-50_1.png}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                    <p class="text">Language</p>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-help-50_1.png}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                    <p class="text">Help</p>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--            </ul>-->

        </div>

        <div class="contain">
        </div>
    </div>
    <div th:insert="~{/fragments/timeSelector}" class="containModal"></div>

    <script th:src="@{/javascript/main.js}"></script>
</body>

</html>