<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Tutorial</title>
    <link rel="stylesheet" href="/CSS/reset.css">
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link rel="stylesheet" href="/CSS/chessboard.css">
    <link rel="stylesheet" href="/CSS/nav.css">
    <link rel="stylesheet" href="/CSS/timeSelector.css">
    <link rel="stylesheet" href="/CSS/findingPlayer.css">
</head>

<body>
    <div class="container">
         <div class="sidebar" th:insert="~{/fragments/sidebar.html}">

        </div>

        <div class="contain">
        </div>
    </div>
    <div th:insert="~{/fragments/timeSelector}" class="containModal"></div>

    <script th:src="@{/javascript/main.js}"></script>
</body>

</html>