<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Online</title>
    <link rel="stylesheet" href="/CSS/reset.css">
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link rel="stylesheet" href="/CSS/chessboard.css">
    <link rel="stylesheet" href="/CSS/nav.css">
    <link rel="stylesheet" href="/CSS/chat.css">
    <link rel="stylesheet" href="/CSS/showMove.css">
    <link rel="stylesheet" href="/CSS/ContainPlay.css">
    <link rel="stylesheet" href="/CSS/matchResult.css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>
<div class="container">
    <div class="sidebar" th:insert="~{/fragments/sidebar}">
    </div>

    <div class="contain" >
        <div class="contain-board">
            <div id="matchResult" class="match-result" style="display:none;"></div>

            <div id="promotion-overlay" class="promotion-overlay" style="display:none;">
                <div class="promotion-options">
                    <img src="/IMAGE/wq.png" alt="Queen" class="promotion-piece" data-piece="q">
                    <img src="/IMAGE/wr.png" alt="Rook" class="promotion-piece" data-piece="r">
                    <img src="/IMAGE/wb.png" alt="Bishop" class="promotion-piece" data-piece="b">
                    <img src="/IMAGE/wn.png" alt="Knight" class="promotion-piece" data-piece="n">
                </div>
            </div>
            <div class="user-top">
                <img class="img-user"th:src="@{/IMAGE/br.png}" alt="">
                <div id="user1" class="contain-user">
                    <p id="blackName" class="username">Waiting...</p>
                    <div class="count-clock">
                        <div id="clock-black"></div>
                    </div>
                </div>
            </div>

            <div class="containPlayChess" th:insert="~{/fragments/chessboard}"></div>

            <div class="user-top">
                <img class="img-user" th:src="@{/IMAGE/br.png}" alt="">
                <div id="user2" class="contain-user">
                    <p id="whiteName" class="username">Waiting...</p>
                    <div class="count-clock">
                        <div id="clock-white"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-bar">
            <div class="contain-move">
                <div th:if="${idTime}" class="show-time">
                    <div class="txtClock">
                        <p>Game clock: <span id="idTime" th:text="${idTime}"></span></p>
                    </div>
                    <div class="txtTime">
                        <p id="countStart">Start clock in 2 seconds</p>
                    </div>
                </div>

                <div class="move-table-container">
                    <p class="txt-move">Move</p>
                    <div id="show-move"></div>
                </div>

                <div id="chat-page">
                    <div class="chat-container">
                        <div class="chat-header">
                            <h2>Chess Match Chat</h2>
                        </div>
                        <ul id="messageArea"></ul>
                        <form id="messageForm">
                            <div class="form-group">
                                <div class="input-group clearfix">
                                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control" />
                                    <button type="submit" class="primary">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

             </div>

           </div>
    </div>
</div>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script defer src="/javascript/fragments/FEN.js"></script>
<script defer th:src="@{/javascript/fragments/playOnline.js}"></script>
<script defer th:src="@{/javascript/fragments/move.js}"></script>
<script defer th:src="@{/javascript/fragments/chat.js}"></script>
</body>
</html>