<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/CSS/Signup.css}">
    <script>
        function OTP(){
            window.location.href = "/HTML/ConfirmSignup.html";
        }
    </script>
</head>
<body>
        <div class="Signup">
            <form action="/public/signup"
                  name="f"
                  method="post"
                  th:object="${account}" onsubmit="return validatePassword()">
                <div class="image-header">
                    <img th:src="@{/IMAGE/icons8-chess-80_white.png}" alt="" id="img-chess">
                    <label id="lbl-chess" for="img-chess">Chess.com</label>
                </div>
                    <div class="input-group">
                        <input type="text" id="txt_mail" name="txt_mail" placeholder="Email" th:field="*{gmail}">
                        <div class="error-message" id="error_mail"></div>
                    </div>
                    <div class="input-group">
                        <input type="password" id="txt_password" name="txt_password" placeholder="Password" th:field="*{password}">
                        <div class="error-message" id="error_password"></div>
                    </div>
                    <div class="button-group">
                        <input type="submit" value="Sign up" name="btn_signup" id="btn_signup">
                    </div>
            </form>  
        </div>

        <script th:inline="javascript">
            function validatePassword() {
                // var userName = document.getElementById("txt_password").value;
                // if (userName === "12345") {
                //     alert("12345");
                // }
            }
        </script>
</body>
</html>