<div class="r-numbers">
    <div class="r-number">A</div>
    <div class="r-number">B</div>
    <div class="r-number">C</div>
    <div class="r-number">D</div>
    <div class="r-number">E</div>
    <div class="r-number">F</div>
    <div class="r-number">G</div>
    <div class="r-number">H</div>
</div>
<div class="dad-container chessB">
    <div class="rank-numbers">
        <div class="rank-number">1</div>
        <div class="rank-number">2</div>
        <div class="rank-number">3</div>
        <div class="rank-number">4</div>
        <div class="rank-number">5</div>
        <div class="rank-number">6</div>
        <div class="rank-number">7</div>
        <div class="rank-number">8</div>
    </div>
    <div class="main-container">
        <div class="file-a files">
<!--            <div class="rank-number">1</div>-->
            <div class="square square-sm" data-rank="0" data-file="0"><img class="img-cb" th:src="@{/IMAGE/br.png}" alt=""></div>
            <div class="square square-sm" data-rank="1" data-file="0"><img class="img-cb" th:src="@{/IMAGE/bp.png}" alt=""></div>
            <div class="square square-sm" data-rank="2" data-file="0"></div>
            <div class="square square-sm" data-rank="3" data-file="0"></div>
            <div class="square square-sm" data-rank="4" data-file="0"></div>
            <div class="square square-sm" data-rank="5" data-file="0"></div>
            <div class="square square-sm" data-rank="6" data-file="0"><img class="img-cb" th:src="@{/IMAGE/wp.png}" alt=""></div>
            <div class="square square-sm" data-rank="7" data-file="0"><img class="img-cb" th:src="@{/IMAGE/wr.png}" alt=""></div>
        </div>
        <div class="file-b files">
<!--            <div class="rank-number">2</div>-->
            <div class="square square-sm" data-rank="0" data-file="1"><img class="img-cb" th:src="@{/IMAGE/bn.png}" alt=""></div>
            <div class="square square-sm" data-rank="1" data-file="1"><img class="img-cb" th:src="@{/IMAGE/bp.png}" alt=""></div>
            <div class="square square-sm" data-rank="2" data-file="1"></div>
            <div class="square square-sm" data-rank="3" data-file="1"></div>
            <div class="square square-sm" data-rank="4" data-file="1"></div>
            <div class="square square-sm" data-rank="5" data-file="1"></div>
            <div class="square square-sm" data-rank="6" data-file="1"><img class="img-cb" th:src="@{/IMAGE/wp.png}" alt=""></div>
            <div class="square square-sm" data-rank="7" data-file="1"><img class="img-cb" th:src="@{/IMAGE/wn.png}" alt=""></div>

        </div>
        <div class="file-c files">
<!--            <div class="rank-number">3</div>-->
            <div class="square square-sm" data-rank="0" data-file="2"><img class="img-cb" th:src="@{/IMAGE/bb.png}" alt=""></div>
            <div class="square square-sm" data-rank="1" data-file="2"><img class="img-cb" th:src="@{/IMAGE/bp.png}" alt=""></div>
            <div class="square square-sm" data-rank="2" data-file="2"></div>
            <div class="square square-sm" data-rank="3" data-file="2"></div>
            <div class="square square-sm" data-rank="4" data-file="2"></div>
            <div class="square square-sm" data-rank="5" data-file="2"></div>
            <div class="square square-sm" data-rank="6" data-file="2"><img class="img-cb" th:src="@{/IMAGE/wp.png}" alt=""></div>
            <div class="square square-sm" data-rank="7" data-file="2"><img class="img-cb" th:src="@{/IMAGE/wb.png}" alt=""></div>

        </div>
        <div class="file-d files">
<!--            <div class="rank-number">4</div>-->
            <div class="square square-sm" data-rank="0" data-file="3"><img class="img-cb" th:src="@{/IMAGE/bq.png}" alt=""></div>
            <div class="square square-sm" data-rank="1" data-file="3"><img class="img-cb" th:src="@{/IMAGE/bp.png}" alt=""></div>
            <div class="square square-sm" data-rank="2" data-file="3"></div>
            <div class="square square-sm" data-rank="3" data-file="3"></div>
            <div class="square square-sm" data-rank="4" data-file="3"></div>
            <div class="square square-sm" data-rank="5" data-file="3"></div>
            <div class="square square-sm" data-rank="6" data-file="3"><img class="img-cb" th:src="@{/IMAGE/wp.png}" alt=""></div>
            <div class="square square-sm" data-rank="7" data-file="3"><img class="img-cb" th:src="@{/IMAGE/wq.png}" alt=""></div>

        </div>
        <div class="file-e files">
<!--            <div class="rank-number">5</div>-->
            <div class="square square-sm" data-rank="0" data-file="4"><img class="img-cb" th:src="@{/IMAGE/bk.png}" alt=""></div>
            <div class="square square-sm" data-rank="1" data-file="4"><img class="img-cb" th:src="@{/IMAGE/bp.png}" alt=""></div>
            <div class="square square-sm" data-rank="2" data-file="4"></div>
            <div class="square square-sm" data-rank="3" data-file="4"></div>
            <div class="square square-sm" data-rank="4" data-file="4"></div>
            <div class="square square-sm" data-rank="5" data-file="4"></div>
            <div class="square square-sm" data-rank="6" data-file="4"><img class="img-cb" th:src="@{/IMAGE/wp.png}" alt=""></div>
            <div class="square square-sm" data-rank="7" data-file="4"><img class="img-cb" th:src="@{/IMAGE/wk.png}" alt=""></div>

        </div>
        <div class="file-f files">
<!--            <div class="rank-number">6</div>-->
            <div class="square square-sm" data-rank="0" data-file="5"><img class="img-cb" th:src="@{/IMAGE/bb.png}" alt=""></div>
            <div class="square square-sm" data-rank="1" data-file="5"><img class="img-cb" th:src="@{/IMAGE/bp.png}" alt=""></div>
            <div class="square square-sm" data-rank="2" data-file="5"></div>
            <div class="square square-sm" data-rank="3" data-file="5"></div>
            <div class="square square-sm" data-rank="4" data-file="5"></div>
            <div class="square square-sm" data-rank="5" data-file="5"></div>
            <div class="square square-sm" data-rank="6" data-file="5"><img class="img-cb" th:src="@{/IMAGE/wp.png}" alt=""></div>
            <div class="square square-sm" data-rank="7" data-file="5"><img class="img-cb" th:src="@{/IMAGE/wb.png}" alt=""></div>

        </div>
        <div class="file-g files">
<!--            <div class="rank-number">7</div>-->
            <div class="square square-sm" data-rank="0" data-file="6"><img class="img-cb" th:src="@{/IMAGE/bn.png}" alt=""></div>
            <div class="square square-sm" data-rank="1" data-file="6"><img class="img-cb" th:src="@{/IMAGE/bp.png}" alt=""></div>
            <div class="square square-sm" data-rank="2" data-file="6"></div>
            <div class="square square-sm" data-rank="3" data-file="6"></div>
            <div class="square square-sm" data-rank="4" data-file="6"></div>
            <div class="square square-sm" data-rank="5" data-file="6"></div>
            <div class="square square-sm" data-rank="6" data-file="6"><img class="img-cb" th:src="@{/IMAGE/wp.png}" alt=""></div>
            <div class="square square-sm" data-rank="7" data-file="6"><img class="img-cb" th:src="@{/IMAGE/wn.png}" alt=""></div>

        </div>
        <div class="file-h files">
<!--            <div class="rank-number">8</div>-->
            <div class="square square-sm" data-rank="0" data-file="7"><img class="img-cb" th:src="@{/IMAGE/br.png}" alt=""></div>
            <div class="square square-sm" data-rank="1" data-file="7"><img class="img-cb" th:src="@{/IMAGE/bp.png}" alt=""></div>
            <div class="square square-sm" data-rank="2" data-file="7"></div>
            <div class="square square-sm" data-rank="3" data-file="7"></div>
            <div class="square square-sm" data-rank="4" data-file="7"></div>
            <div class="square square-sm" data-rank="5" data-file="7"></div>
            <div class="square square-sm" data-rank="6" data-file="7"><img class="img-cb" th:src="@{/IMAGE/wp.png}" alt=""></div>
            <div class="square square-sm" data-rank="7" data-file="7"><img class="img-cb" th:src="@{/IMAGE/wr.png}" alt=""></div>

        </div>
    </div>
</div>