    <div class="dad-container chessB">
        <div class="main-container">
            <div class="file-a files">
                <div class="square square-sm">
                    <img class="img-cb"th:src="@{/IMAGE/br.png}" alt="">
                </div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bp.png}" alt="">
                </div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wp.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wr.png}" alt=""></div>

            </div>
            <div class="file-b files">
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bn.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bp.png}" alt=""></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wp.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wn.png}" alt=""></div>

            </div>
            <div class="file-c files">
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bb.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bp.png}" alt=""></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wp.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wb.png}" alt=""></div>

            </div>
            <div class="file-d files">
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bk.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bp.png}" alt=""></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wp.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wk.png}" alt=""></div>

            </div>
            <div class="file-e files">
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bq.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bp.png}" alt=""></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wp.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wq.png}" alt=""></div>

            </div>
            <div class="file-f files">
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bb.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bp.png}" alt=""></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wp.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wb.png}" alt=""></div>

            </div>
            <div class="file-g files">
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bn.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bp.png}" alt=""></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wp.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wn.png}" alt=""></div>

            </div>
            <div class="file-h files">
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/br.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/bp.png}" alt=""></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wp.png}" alt=""></div>
                <div class="square square-sm"><img class="img-cb"th:src="@{/IMAGE/wr.png}" alt=""></div>

            </div>
        </div>
    </div>