<div>
    <p class="header">
        Play Chess Online on the #1 Site!
    </p>
    <div class="options">
        <div class="opt">
            <img class="img-lg-nav" th:src="@{/IMAGE/icons8-chess-80_1.png}" alt="">
            <div id="playOnline" class="containPlay playOnline">
                <h1 class="titlePlay js-time-selector">Play Online</h1>
                <p class="textPlay">Play with someone at your level</p>
            </div>
        </div>
        <div class="opt">
            <img class="img-lg-nav" th:src="@{/IMAGE/icons8-robot-100_1.png}" alt="">
            <div id="playComputer" class="containPlay">
                <h1 class="titlePlay js-time-selector">Play Computer</h1>
                <p class="textPlay">Play vs customizable train bots</p>
            </div>
        </div>
    </div>
</div>
