<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/CSS/reset.css}">
    <link rel="stylesheet" th:href="@{/CSS/sidebar.css}">
</head>

<body>
    <ul>
        <div class="head">
            <img class="brand" th:src="@{/IMAGE/icons8-chess-80_1.png}">
            <p class="name">Chess</p>
        </div>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/playwhite.cea685ba.svg}" alt="">
            <p class="text">Play</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-puzzle-50_1.png}" alt="">
            <p class="text">Puzzles</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-students-64_1.png}" alt="">
            <p class="text">Learn</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-news-64_1.png}" alt="">
            <p class="text">News</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-binoculars-64_1.png}" alt="">
            <p class="text">Watch</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-ellipsis-50_1.png}" alt="">
            <p class="text">More</p>
        </li>
        <li class="search">
            <input type="text" placeholder="Search">
        </li>
        <li class="btn">
            <button>Sign up</button>
        </li>
        <li class="btn">
            <button>Login</button>
        </li>
        <li class="items">
            <img class="img-lg" th:src="@{/IMAGE/icons8-language-skill-50_1.png}" alt="">
            <p class="text">Language</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-help-50_1.png}" alt="">
            <p class="text">Help</p>
        </li>
    </ul>
</body>

</html>