    <ul>
        <div class="head">
            <img class="brand" th:src="@{/IMAGE/icons8-chess-80_white.png}">
            <p class="name">Chess</p>
        </div>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/play.png}" alt="">
            <p class="text"><a href="/play" style="color: white">Play</a> </p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-puzzle-50-white.png}" alt="">
            <p class="text"><a href="/puzzles" style="color: white">Puzzles</a></p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-students-64-white.png}" alt="">
            <p class="text">Learn</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-news-50-white.png}" alt="">
            <p class="text">News</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-binoculars-64.png}" alt="">
            <p class="text">Watch</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-ellipsis-50-white.png}" alt="">
            <p class="text"><a href="/tool" style="color: white" >Tool</a> </p>
        </li>
        <li class="search">
            <input id="search" type="text" placeholder="Search">
        </li>
        <li class="btn">
            <button><a href="/public/inforuser"><span style="color:#000;" th:text="${username}"></span></a> </button>
        </li>
        <li class="btn">
            <button id="btn2"><a href="public/login"  style="color: white">Log out</a></button>
        </li>
    </ul>