    <ul>
        <div class="head">
            <img class="brand" th:src="@{/IMAGE/icons8-chess-80_white.png}">
            <p class="name">Chess</p>
        </div>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/playwhite.cea685ba.svg}" alt="">
            <p class="text">Play</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-puzzle-50-white.png}" alt="">
            <p class="text">Puzzles</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-students-64-white.png}" alt="">
            <p class="text">Learn</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-news-50-white.png}" alt="">
            <p class="text">News</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-binoculars-64.png}" alt="">
            <p class="text">Watch</p>
        </li>
        <li class="items"><img class="img-lg" th:src="@{/IMAGE/icons8-ellipsis-50-white.png}" alt="">
            <p class="text">More</p>
        </li>
        <li class="search">
            <input id="search" type="text" placeholder="Search">
        </li>
        <li class="btn">
            <button id="btn1">Sign up</button>
        </li>
        <li class="btn">
            <button id="btn2">Login</button>
        </li>
    </ul>