<main id="board-editor">
    <div class="board-editor" style="cursor: pointer">
        <div class="board-editor__tools">
            <div class="metadata">
                <div class="color"><select>
                    <option value="white" selected="">White to play</option>
                    <option value="black">Black to play</option>
                </select></div>
                <div class="castling"><strong>Castling</strong>
                    <div class="flex">
                        <label class="lb"><p class="txt-lb">White O-O</p><input type="checkbox"></label>
                        <label class="lb"><input type="checkbox"><p class="txt-lb">O-O-O</p></label>
                    </div>
                    <div class="flex">
                        <label class="lb"><p class="txt-lb">Black O-O</p><input type="checkbox"></label>
                        <label class="lb"><input type="checkbox"><p class="txt-lb">O-O-O</p></label>
                    </div>
                </div>
            </div>
            <div class="actions">
                <a class="button button-empty text">Starting position</a>
                <a class="button button-empty text">Clear board</a>
                <button class="button button-empty text">
                    <span>Continue from here</span>
                </button>
            </div>
        </div>
        <div class="copyables">
            <p><strong>FEN</strong>
                <input class="copyable positions" spellcheck="false" enterkeyhint="done"></p>
        </div>
    </div>
</main>