<section id="product1" class="section-p1 modal js-modal">
    <div class="modal-container js-modal-container">
        <header class="modal-header">
            <p>Select</p>
            <div class="modal-btn-close js-modal-btn-close">
                x
            </div>
        </header>

        <div class="modal-body pro-container">
            <div id="1_0" class="pro">
                <p>1 + 0<br />Bullet</p>
            </div>
            <div id="2_1" class="pro">
                <p>2 + 1<br />Bullet</p>
            </div>
            <div id="3_0" class="pro">
                <p>3 + 0<br />Blitz</p>
            </div>
            <div id="3_2" class="pro">
                <p>3 + 2<br />Blitz</p>
            </div>
            <div id="5_0" class="pro">
                <p>5 + 0<br />Blitz</p>
            </div>
            <div id="5_3" class="pro">
                <p>5 + 3<br />Blitz</p>
            </div>
            <div id="10_0" class="pro">
                <p>10 + 0<br />Rapid</p>
            </div>
            <div id="10_5" class="pro">
                <p>10 + 5<br />Rapid</p>
            </div>
            <div id="15_10" class="pro">
                <p>15 + 10<br />Rapid</p>
            </div>
            <div id="30_0" class="pro">
                <p>30 + 0<br />Classical</p>
            </div>
            <div id="30_20" class="pro">
                <p>30 + 20<br />Classical</p>
            </div>
            <div id="0_0" class="pro">
                <p>Tuỳ chỉnh</p>
                <input type="text" id="customInput" placeholder="mm:ss" style="display: none;">
            </div>
        </div>
    </div>
</section>