<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chessboard</title>
    <link rel="stylesheet" href="../assets/css/chessboard.css">
</head>

<body>
    <div class="dad-container">
        <div class="main-container">
            <div class="file-a files">
                <div class="square">
                    <img src="../assets/img/br.png" alt="">
                </div>
                <div class="square"><img src="../assets/img/bp.png" alt="">
                </div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"><img src="../assets/img/wp.png" alt=""></div>
                <div class="square"><img src="../assets/img/wr.png" alt=""></div>

            </div>
            <div class="file-b files">
                <div class="square"><img src="../assets/img/bn.png" alt=""></div>
                <div class="square"><img src="../assets/img/bp.png" alt=""></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"><img src="../assets/img/wp.png" alt=""></div>
                <div class="square"><img src="../assets/img/wn.png" alt=""></div>

            </div>
            <div class="file-c files">
                <div class="square"><img src="../assets/img/bb.png" alt=""></div>
                <div class="square"><img src="../assets/img/bp.png" alt=""></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"><img src="../assets/img/wp.png" alt=""></div>
                <div class="square"><img src="../assets/img/wb.png" alt=""></div>

            </div>
            <div class="file-d files">
                <div class="square"><img src="../assets/img/bk.png" alt=""></div>
                <div class="square"><img src="../assets/img/bp.png" alt=""></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"><img src="../assets/img/wp.png" alt=""></div>
                <div class="square"><img src="../assets/img/wk.png" alt=""></div>

            </div>
            <div class="file-e files">
                <div class="square"><img src="../assets/img/bq.png" alt=""></div>
                <div class="square"><img src="../assets/img/bp.png" alt=""></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"><img src="../assets/img/wp.png" alt=""></div>
                <div class="square"><img src="../assets/img/wq.png" alt=""></div>

            </div>
            <div class="file-f files">
                <div class="square"><img src="../assets/img/bb.png" alt=""></div>
                <div class="square"><img src="../assets/img/bp.png" alt=""></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"><img src="../assets/img/wp.png" alt=""></div>
                <div class="square"><img src="../assets/img/wb.png" alt=""></div>

            </div>
            <div class="file-g files">
                <div class="square"><img src="../assets/img/bn.png" alt=""></div>
                <div class="square"><img src="../assets/img/bp.png" alt=""></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"><img src="../assets/img/wp.png" alt=""></div>
                <div class="square"><img src="../assets/img/wn.png" alt=""></div>

            </div>
            <div class="file-h files">
                <div class="square"><img src="../assets/img/br.png" alt=""></div>
                <div class="square"><img src="../assets/img/bp.png" alt=""></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"><img src="../assets/img/wp.png" alt=""></div>
                <div class="square"><img src="../assets/img/wr.png" alt=""></div>

            </div>
        </div>
    </div>
</body>

</html>