<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/nav.css">
</head>

<body>
    <p class="header">
        Play Chess Online on the #1 Site!
    </p>
    <div class="options">
        <div class="opt">
            <img src="../assets/img/icons8-chess-80 1.png" alt="">
            <div class="contain">
                <h1>Play Online</h1>
                <p class="text">Play with someone at your level</p>
            </div>
        </div>
        <div class="opt">
            <img src="../assets/img/icons8-robot-100 1.png" alt="">
            <div class="contain">
                <h1>Play Computer</h1>
                <p class="text">Play vs customizable train bots</p>
            </div>
        </div>
    </div>
</body>

</html>