<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/sidebar.css">
</head>

<body>
    <ul>
        <div class="head">
            <img class="brand" src="../assets/img/icons8-chess-80 1.png">
            <p class="name">Chess</p>
        </div>
        <li class="items"><img src="../assets/img/playwhite.cea685ba.svg" alt="">
            <p class="text">Play</p>
        </li>
        <li class="items"><img src="../assets/img/icons8-puzzle-50 1.png" alt="">
            <p class="text">Puzzles</p>
        </li>
        <li class="items"><img src="../assets/img/icons8-students-64 1.png" alt="">
            <p class="text">Learn</p>
        </li>
        <li class="items"><img src="../assets/img/icons8-news-64 1.png" alt="">
            <p class="text">News</p>
        </li>
        <li class="items"><img src="../assets/img/icons8-binoculars-64 1.png" alt="">
            <p class="text">Watch</p>
        </li>
        <li class="items"><img src="../assets/img/icons8-ellipsis-50 1.png" alt="">
            <p class="text">More</p>
        </li>
        <li class="search">
            <input type="text" placeholder="Search">
        </li>
        <li class="btn">
            <button>Sign up</button>
        </li>
        <li class="btn">
            <button>Login</button>
        </li>
        <li class="items">
            <img src="../assets/img/icons8-language-skill-50 1.png" alt="">
            <p class="text">Language</p>
        </li>
        <li class="items"><img src="../assets/img/icons8-help-50 1.png" alt="">
            <p class="text">Help</p>
        </li>
    </ul>
</body>

</html>